<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  
  <%- include('./partials/nav.ejs') %> 

  <div class="blog content">
    <h2>All Blogs</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed natus libero nihil velit asperiores ipsa quaerat maiores excepturi. Deserunt, debitis!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed natus libero nihil velit asperiores ipsa quaerat maiores excepturi. Deserunt, debitis!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed natus libero nihil velit asperiores ipsa quaerat maiores excepturi. Deserunt, debitis!</p>
  </div>

  <%- include('./partials/footer.ejs') %> 

</body>
</html>